<%= form_with(model: trade) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
        <% trade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :base_experience_difference %>
    <%= form.number_field :base_experience_difference %>
  </div>

  <fieldset>
    <legend>Pokemons A:</legend>
    <%= form.fields_for :pokemons do |f| %>
      <%= render partial: 'pokemons/pokemon_a_fields', locals: {f: f} %>
    <% end %>
    <%= link_to_add_fields "Add", form, :pokemons, 'pokemons/pokemon_a_fields'%>
  </fieldset>
  <fieldset>
    <legend>Pokemons B:</legend>
    <%= form.fields_for :pokemons do |f| %>
      <%= render partial: 'pokemons/pokemon_b_fields', locals: {f: f} %>
    <% end %>
    <%= link_to_add_fields "Add", form, :pokemons, 'pokemons/pokemon_b_fields'%>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
