<p id="notice"><%= notice %></p>
<div class="row d-flex justify-content-between align-items-center mb-3">
  <h1>Trades</h1>
  <span class="mx-2">
    <%= link_to 'New Trade', new_trade_path, class: 'btn btn-primary btn-sm' %>
  </span>
</div>
<div class="row text-center mb-3">
<ul class="list-group col-12">
  <% @trades.each do |trade| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-5">
          <div class="row justify-content-center mb-3">
            <% trade.pokemons_from_group_a.each do |pokemon| %>
              <div class="col-md-6 col-lg-4">
              <%= image_tag(pokemon.image_url || 'pokeball.png', size: "80x80", class: "img-thumbnail", alt: pokemon.name) %>
              <div class="caption center-block"><%= pokemon.name %></div>
              </div>
            <% end %>
          </div>
          <div class="row justify-content-center">
            <h6>Group experience <span class="badge bg-info"><%= trade.group_a_experience %></span></h6>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center flex-column">
          <% if trade.fair? %>
            <%= icon("hand-thumbs-up-fill", class: "text-success mb-2", width: '40', height: '40') %>
            Fair
          <% else %>
            <%= icon("hand-thumbs-down-fill", class: "text-danger mb-2", width: '40', height: '40') %>
            Unfair
          <% end %>
        </div>
        <div class="col-5">
          <div class="row justify-content-center mb-3">
            <% trade.pokemons_from_group_b.each do |pokemon| %>
              <div class="col-md-6 col-lg-4">
              <%= image_tag(pokemon.image_url || 'pokeball.png', size: "80x80", class: "img-thumbnail", alt: pokemon.name) %>
              <div class="caption center-block"><%= pokemon.name %></div>
              </div>
            <% end %>
          </div>
          <div class="row justify-content-center">
            <h6>Group experience <span class="badge bg-info"><%= trade.group_b_experience %></span></h6>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
<div class="row d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<br>
