<!DOCTYPE html>
<html>
  <head>
    <title>PokeTrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-secondary">
    <div class="row">
      <div class="col-8 offset-2">
        <div class="card text-center">
          <div class="card-body">
            <h1>Poke Trader</h1>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
